@import 'custom-variables.scss';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

// SPINNER
.spinner {
    margin-top: 10rem;
}

// BUTTONS

.btn-primary {
    color: white;
}

.btn-primary,
.btn-secondary {
    padding: 0.5em 1em 0.5em 1em;
    // margin: 0.5em;
    box-shadow: 0px 5px 20px -10px rgb(49, 49, 49);
}

// PROFILE CARD

.profile-card {
    background-color: $primary;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card-container {
    background-color: $primary;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(175, 175, 176);
    color: white;
    padding-top: 30px;
    // position: relative;  Here in case we want to add badges to top corners
    width: 400px;
    max-width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.profile-card-container .round {
    border: 1px solid white;
    border-radius: 50%;
    padding: 7px;
}

button.send-msg {
    background-color: $secondary;
    border: 1px solid $secondary;
    box-shadow: 0px 5px 20px -10px rgb(49, 49, 49);
    border-radius: 5px;
    color: white;
    font-weight: 400;
    line-height: 18px;
}

.social-icons {
    font-size: 30px;
    color: $success;
    margin-left: 5px;
    margin-right: 5px;
}

.payment {
    margin-top: 15px;
    color: white;
    font-size: 30px;
}

hr {
    border-color: white;
    margin: 0;
}

.skills {
    background-color: $primary;
    text-align: left;
    padding: 5px;
}

.skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skills ul li {
    background-color: $success;
    border: 1px solid $success;
    border-radius: 3px;
    display: inline-block;
    font-size: 13px; // Specify font size?
    margin: 0 7px 7px 0;
    padding: 7px;
    list-style-type: none;
}

// POST CARDS

.post-card {
    min-width: 18rem;
    max-width: 24rem;

    p {
        font-size: 14px;
    }
}

// POST DETAILS CARDS

.post-details {
    p {
        font-size: 14px;
    }
}

// FORM

.form {
    border-radius: 5px;
    border: solid 1px $primary;
    padding: 20px;
    font-size: 13px;

    input {
        border: solid 1px $primary;
        font-size: 13px;
    }

    textarea {
        border: solid 1px $primary;
        font-size: 13px;
    }
    
    .dropdown {
        font-size: 13px;
    }
    
}

.form-check-inline {
    margin-right: 2em;
}