@import 'custom-variables.scss';

body {
    margin: 0;
    font-family: $sans;
    font-weight: 300;
    letter-spacing: 0.5px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}


h1,
h2,
h3,
h4,
h5 {

    font-weight: 300;
}
// SPINNER
.spinner {
    margin-top: 10rem;
}

.page-title {
    // width: 100%;
    // background: $success;
    // font-family: $serif;
    // color: white;
    padding: 5px;
    font-size: 34px;
    letter-spacing: 1px;
    text-align: center;
}
// BUTTONS

.btn {
    font-weight: 300;
    letter-spacing: 1px;
}

.btn-primary {
    color: white;
}

.btn-primary,
.btn-secondary {
    padding: 0.5em 1em 0.5em 1em;
    // margin: 0.5em;
    box-shadow: 0px 5px 20px -10px rgb(49, 49, 49);
}

// MODAL

.modal-footer a {
    color: white;
}

// PROFILE CARD

.profile-card-container {
    background-color: $primary;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(175, 175, 176);
    color: white;
    padding-top: 20px;
    // position: relative;  Here in case we want to add badges to top corners
    width: 400px;
    max-width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight:300;
}

.profile-card-container .round {
    border: 1px solid white;
    border-radius: 50%;
    padding: 7px;
}

button.send-msg {
    background-color: $secondary;
    border: 1px solid $secondary;
    box-shadow: 0px 5px 20px -10px rgb(49, 49, 49);
    border-radius: 5px;
    color: white;
    font-weight: 300;
    line-height: 18px;
}

.social-icons {
    font-size: 30px;
    color: $success;
    margin-left: 5px;
    margin-right: 5px;
}

.payment {
    margin-top: 15px;
    color: white;
    font-size: 30px;
}

ul {
    list-style-type: none;
}
// POST CARDS

.card-title {
    font-weight: 400 !important;
}

.post-card {
    min-width: 18rem;
    max-width: 24rem;

    p {
        font-size: 15px;
    }
}

// POST DETAILS CARDS

.post-details {
    p {
        font-size: 14px;
    }
}

// FOOTER
#footer {
    position: sticky;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $primary;
    padding: 0px 20px;

    .social {
        width: 120px;
        display: flex;
        justify-content: space-between;

        :hover {
            color: $secondary;
            cursor: pointer;
        }
    }

    .copy {
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            margin-left: 5px;
            width: 20px;
            height: 20px;
        }
    }
}

@media (max-width: 960px) {
    /* For a screen < 960px, this CSS will be read */
}

@media (max-width: 720px) {
    /* For a screen < 7200px, this CSS will be read */
    #footer .social {
        width: 120px;
    }
}

@media (max-width: 540px) {
    /* For a screen < 540px, this CSS will be read */
    #footer {
        .social {
            display: none;
        }
        .copy {
            width: 100%;
        }
    }
}

// FORM

.form {
    border-radius: 5px;
    border: solid 1px $primary;
    padding: 20px;
    font-size: 14px;

    input {
        border: solid 1px $primary;
        font-size: 13px;
    }

    textarea {
        border: solid 1px $primary;
        font-size: 13px;
    }

    .dropdown {
        font-size: 13px;
    }
}

.form-requestoffer {
    border-radius: 5px;
    border: solid 1px $secondary;
    padding: 20px;
    font-size: 14px;

    .form-input {
        border: 1px solid $secondary;
    }

    input, textarea {
        font-weight:300;
        font-size: 14px;
    }
}


.form-check {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
    font-size: 14px;
}


.form-check-inline {
        margin-right: 5px;
}

// BANNER & HOMEPAGE

.banner {
    color: white;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1521566652839-697aa473761a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80');
    background-position: center;
    

    .group {
        margin-left: 10%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 200px;

        .head {
            font-size: 70px;
        }

        .tail {
            opacity: .80;
        }
    }
}

#hpbutton {
    align-items: flex-end;

    .btn {
        height: 40px;
    }

}

// MAP

.marker {
    color: $secondary;
    height: 20px;
    width: 20px !important;
} 	

#ohcards {
    display: flex;

    .ohmap {
        margin-left: 16px;
    }
}